{% extends 'base.html.twig' %}

{% block title %}Исполнители{% endblock %}

{% block body %}
    <h1>Исполнители</h1>

    <a href="{{ path('app_developer_new') }}">Создать нового</a>

    <table class="table">
        <thead>
            <tr>
                <th>№№</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Должность</th>
                <th>Проект</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for developer in developers %}
            <tr>
                <td>{{ developer.id }}</td>
                <td>{{ developer.name }}</td>
                <td>{{ developer.email }}</td>
                <td>{{ developer.phone }}</td>
                <td>{{ developer.position|trans }}</td>
                <td>
                    {% for project in developer.projects %}
                        {{ project.id }}  {{ project.name|capitalize }} <br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_developer_show', {'id': developer.id}) }}">Показать</a>
                    <a href="{{ path('app_developer_edit', {'id': developer.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
