{% extends 'base.html.twig' %}

{% block title %}Специалист{% endblock %}

{% block body %}
    <h1>Специалист</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>##</th>
                <td>{{ developer.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ developer.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ developer.email }}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ developer.phone }}</td>
            </tr>
            <tr>
                <th>Специальность</th>
                <td>{{ developer.position|trans }}</td>
            </tr>
            <tr>
                <th>Проекты</th>
                <td>
                {% for project in developer.projects %}
                    {{ project.id }} {{ project.name|capitalize }}    <br>
                {% endfor %}
                
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_developer_index') }}">Обратно к списку</a> <br>

    <a href="{{ path('app_developer_edit', {'id': developer.id}) }}">Редактировать</a> <br><br>

    {{ include('developer/_delete_form.html.twig') }}
{% endblock %}
